body {
  height: 100vh;
  width: 100vw;
}

.dark {
  background-color: rgb(21, 21, 21);
  color: white;
}

.light {
  background-color: white;
  color: rgb(21, 21, 21);
}

#root {
  height: 100%;
  width: 100%;
}

button {
  min-width: 150px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0px 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #c7c4c4;
  color: #a8a5a5;
}

.primary {
  background-color: #432344;
  color: #e7eefb;
  flex: 1;
}

.dark .primary {
  background-color: #6b396d;
  color: #e7eefb;
  flex: 1;
}

.secondary {
  background-color: transparent;
  border-color: #432344;
  color: #432344;
  flex: 1;
}

.danger {
  background-color: #e23939;
  color: #ffffff;
}

/* .text-container {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(102, 25, 102);
  font-size: 30px;
} */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

input {
  height: 35px;
  font-size: 20px;
  flex: 4;
}

form {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.icon {
  flex: 1;
}
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.footer {
  flex: 0 0 auto;
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
}

.title {
  flex: 8;
  text-align: center;
}

.logo {
  flex: 1;
}

.icons {
  flex: 1;
  cursor: pointer;
}
