body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.list-item {
  display: flex;
  align-items: center;
  border: 1px solid #ff2525;
  background-color: #ffc03d;
  border-radius: 5px;
  color: #432344;
  font-weight: 600;
  margin: 10px 0px;
  padding: 10px 15px;
  animation: show 2s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

button {
  min-width: 150px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0px 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #c7c4c4;
  color: #a8a5a5;
}

.primary {
  background-color: #432344;
  color: #e7eefb;
  flex: 1;
}

.secondary {
  background-color: transparent;
  border-color: #432344;
  color: #432344;
  flex: 1;
}

.danger {
  background-color: #e23939;
  color: #ffffff;
}

/* .text-container {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(102, 25, 102);
  font-size: 30px;
} */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

input {
  height: 35px;
  font-size: 20px;
  flex: 4;
}

form {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.list-container {
  width: 60%;
  margin: 10px;
  padding: 10px;
}

.task-name {
  flex: 4;
  margin: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.created-date {
  flex: 2;
}

.icon {
  flex: 1;
}
